<div class="fold-btn-wrapper">
  <button id="nav_btn" class="btn btn-lg"><i class="fa fa-angle-left"></i></button>
</div>
<script type="text/javascript" src="http://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="http://cdn.staticfile.org/twitter-bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="http://cdn.staticfile.org/jquery.pjax/1.9.2/jquery.pjax.min.js"></script>
<script src="{{ site.cdn_lib_url }}js/jquery.blockUI.min.js"></script>

<script>
$('a[href="#{{ site.active }}"]').tab('show');
var duoshuoQuery = {short_name:"{{ site.comments.duoshuo.name }}"};
</script>
<script src="{{ site.baseurl }}/public/js/base-ue.js"></script>
