<script type="text/javascript" src="{{ site.cdn_lib_url }}/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ site.cdn_lib_url }}/twitter-bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ site.cdn_lib_url }}/jquery.pjax/1.9.2/jquery.pjax.min.js"></script>
<script type="text/javascript">
var assets_url = "{{ site.assets_url }}";
var public_url = "{{ site.public_url }}";
var cdn_lib_url = "{{ site.cdn_lib_url }}";
var baseurl = "{{ site.baseurl }}";
</script>
<script type="text/javascript" src="{{ site.public_url }}js/base2.min.js"></script>
