<!doctype html>
<html>
<head>
  {% include header.html %}
</head>
<body>
  {% include zs-nav.html %}
  <div id="base-wrapper" class="container">
    <div class="row">
      <div class="aside3">
        <div id="pjax">
            <div class="row">

              <div class="col-lg-3 col-md-2"></div>
              <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12 aside3">
                <div id="content">

                  <div class="at-wrapper">
                    <div class="aside3-title">{{ page.title }}</div>
                    {% include catetags.html %}
                  </div>

                  <div id="inner-cont">
                    {{ content }}
                  </div>
                </div>

                {% include related-posts.html %}
            
                {% include comments.html %}
            
                <div style="text-align: center;">
                    © 2009-{{ site.page_year }} Zollty.com 版权所有。<a href="http://www.beian.miit.gov.cn/" style="color: #848488;" onclick="javascript:return false;">渝ICP备20008982号</a>
                </div>
              </div>
              <div class="col-lg-3 col-md-2"></div>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="scroll-to-top">
    <i class="icon-arrow-up"></i>
  </div>

  <!-- 图片弹出窗 -->
  <div id="outerdiv"
      style="position: fixed; top: 0; left: 0; background: rgba(0, 0, 0, 0.7); z-index: 2; width: 100%; height: 100%; display: none;">
      <div id="innerdiv" style="position: absolute;">
          <img id="bigimg" style="border: 5px solid #fff;" src="" />
      </div>
  </div>

  {% include footer.html %}
<script type="text/javascript">
var pageDate = Date.parse("{{ page.date }}");
var dateTimeMs = 86400000;// 1000*60*60*24;
var overDays = (new Date().getTime()-pageDate) / dateTimeMs;
if(overDays > 120) {
  $("#content").after('<div class="bremind">友情提醒：本文发表距今已超过&lt;<span style="color: #da1454">'+ Math.round(overDays) +'天</span>&gt;，某些数据、描述可能已经过时。</div>');
}
</script>
</body>
</html>